# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/
mvnw
.mvn
*.cmd

.vs
deploy
*.sln
*.csproj
*.csproj.user
*.csproj.DotSettings.user
bin
Properties
obj
bower_components