.menu-title {
    padding: 10px;
    font-size: 1.2em;
    font-weight: 600;
    color: #333;
    vertical-align: middle;
}

ul.nav-main {
    margin-right: 17px;
}

    ul.nav-main > li:focus {
        background-color: #fff;
    }

    ul.nav-main > li > a,
    ul.nav-main > li > a:focus {
        background-color: #fff;
        font-weight: 600;
        color: #333;
        padding-right: 18px;
        padding-left: 6px;
        border-left: solid 3px #fff;
        white-space: normal;
    }

        ul.nav-main > li > a:hover,
        ul.nav-main > li > a.active {
            border-left: solid 3px #0c8;
            background-color: #f0fff0;
        }

        ul.nav-main > li > a > span.label {
            font-weight: normal;
            font-size: 1em;
            padding: .3em .7em .4em;
            margin: .3em -1em 0 0;
        }

.note-aws {
    border-left: solid 5px #08f;
}

.note-ericsson {
    border-left: solid 5px #0f8;
}

.note-au {
    border-left: solid 5px #80f;
}


.notes {
    list-style: none;
    padding: 0;
}

    .notes > li a {
        display: block;
        padding: 10px;
        border-bottom: solid 1px #f0f0f0;
        border-left: solid 3px #fff;
    }

    .notes > li .note-title {
        white-space: normal;
        color: #333;
    }

    .notes > li > a:hover {
        background-color: #f0fff0;
        border-left: solid 3px #0c8;
    }

.note-edit {
    margin-bottom: 20px;
}

.note-content {
    padding: 10px;
}

    .md-preview img,
    .note-content img {
        margin-left: 10%;
        width: 80%;
        max-width: 80%;
        height: auto;
        border-radius: 10px;
        box-shadow: 3px 3px 5px 0 #ccc;
    }

.md-editor {
    border-style: none;
    margin-bottom: 10px;
}

    .md-editor > textarea {
        background-color: #fff;
        border: none;
        border-bottom: solid 1px #ddd;
        padding: 10px;
    }

    .md-editor > .md-preview {
        border: none;
        border-bottom: solid 1px #ddd;
        padding: 10px;
    }

    .md-editor > .md-header {
        padding: 10px;
    }

.btn-toolbar {
    background: #f6f6f6;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #DADADA;
    position: relative;
}

.md-fullscreen-mode .btn-toolbar {
    border-bottom: none;
}


    .md-fullscreen-mode .btn-toolbar .editor-buttons {
        display: none;
    }
