<section class="body-sign">
    <div class="center-sign">
        <div class="logo pull-left">
            Apps
        </div>

        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i> Sign Up</h2>
            </div>
            <div class="panel-body">
                <div class="form-group mb-lg">
                    <div class="input-group input-group-icon">
                        <input placeholder="E-mail" type="text" class="form-control input-lg" maxlength="255" ng-model="vm.email" />
                        <span class="input-group-addon">
                            <span class="icon icon-lg">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </span>
                    </div>
                </div>
                
                <div class="form-group mb-lg">
                    <div class="input-group input-group-icon">
                        <input placeholder="Username" type="text" class="form-control input-lg" maxlength="32" ng-model="vm.username" />
                        <span class="input-group-addon">
                            <span class="icon icon-lg">
                                <i class="fa fa-user"></i>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group mb-lg">
                    <div class="input-group input-group-icon">
                        <input placeholder="Password" type="password" class="form-control input-lg" maxlength="32" ng-model="vm.password" />
                        <span class="input-group-addon">
                            <span class="icon icon-lg">
                                <i class="fa fa-lock"></i>
                            </span>
                        </span>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-8">
                        <div class="checkbox-custom checkbox-primary">
                            <input id="AgreeTerms" name="agreeterms" type="checkbox" />
                            <label for="AgreeTerms">I agree with <a href="#">terms of use</a></label>
                        </div>
                    </div>
                    <div class="col-sm-4 text-right">
                        <button type="submit" class="btn btn-primary" ng-click="vm.signup()">Sign Up</button>
                    </div>
                </div>

                <p class="text-center mt-lg">Already have an account? <a ui-sref="signin">Sign In!</a></p>
            </div>
        </div>
    </div>
</section>